@model CSharp.Models.CountriesStatesModel
@{
    ViewBag.Title = "An error has occured";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h1>An error has occured</h1>
</div>
<p>
    Config may be invalid
</p>